/* pages/select-page/select-page.wxss */
.select-page-container{
  .select-title{
    margin-top: 300rpx;
    font-size: 56rpx;
    font-weight: 800;
    text-align: center;
    color: #d3413b;
  }
  .type-list{
    margin-top: 100rpx;
    padding-left: 40rpx;
    padding-right: 40rpx;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .type-item{
    width: 300rpx;
    margin: 30rpx;
    font-size: 36rpx;
    font-weight: 600;
    line-height: 100rpx;
    background-color: #cb413d;
    color: #fff;

  }
}