.index-page-container{
  .index-title{
    font-size: 54rpx;
    margin-top: 300rpx;
    font-weight: 800;
    text-align: center;
  }
  .index-button{
    width: 400rpx;
    margin-top: 600rpx;
    text-align: center;
    border: 2rpx solid grey;
    font-size: 42rpx;

  }
  
}